# =========================
# Visual Studio
# =========================

.vs/
.vscode/

# =========================
# Build Folders
# =========================

bin/
obj/
Debug/
Release/
x64/
x86/

# =========================
# User / IDE Files
# =========================

*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# NuGet
# =========================

packages/
*.nupkg

# =========================
# Logs
# =========================

*.log

# =========================
# Database Files
# =========================

*.mdf
*.ldf

# =========================
# SQL Server Backup Files
# =========================

*.bak

# =========================
# Temporary Files
# =========================

Temp/
tmp/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Rider / JetBrains
# =========================

.idea/

# =========================
# ReSharper
# =========================

_ReSharper*/
*.DotSettings.user

# =========================
# Publish Output
# =========================

publish/

# =========================
# Sensitive Files
# =========================

appsettings.json
secrets.json